*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form-login
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right top,#a418c8, #ff00d494,#00ffb8fa);
}
.form-box
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #46555c8a;
}
.btn-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    font-weight: 700;
    color: #fff;
    font-weight: 700;
}
button.toggle-btn{
    right: -20px;
}
button#log{
    left: 6px;
}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #ff006b;
    border-radius: 30px;
    transition: 0.5s;
}
.btn-icon
{
    margin: 30px auto;
    text-align: center;
}
.btn-icon img
{
    width: 30px;
    margin: 0 12px;
}
img#anh {
    width: 37px;
}
.form-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.sumbit-btn
{
    width: 40%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#a418c8, #ff00d494,#00ffb8fa);
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
} 

.check-box
{
    margin: 30px 10px 30px 0;
}
span
{
    color: #777;
    font-size: 12px;
    bottom: 69px;
    position: absolute;
}
#Login
{
    left: 50px;
}
#Register
{
    left: 450px;
} 
form#Register {
    top: 140px;
}

