* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: auto;
}


/*header*/

header {
    width: 100%;
    display: block;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px auto;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 0 40px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    line-height: 50px;
}

nav ul li:hover {
    background: #333;
}

ul li a {
    color: #fff;
    text-transform: uppercase;
}


/*slice*/

.main {
    width: 100%;
    display: block;
    margin-top: 20px;
}

.slice {
    width: 100%;
    height: 627px;
    margin-bottom: 50px;
}

.slice .slice-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infor {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -400px;
}

.infor .left {
    width: 60%;
}

.left h2 {
    width: 40%;
    font-size: 5em;
}

.infor .righ {
    width: 50%;
}

.left p {
    width: 35%;
    font-size: 1.05em;
    font-weight: 600;
    color: #666363ed;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.left button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 1.5em;
    border-radius: 50px;
    outline: none;
    border: 1px solid gray;
    background: linear-gradient(to right, #00bcd4, #b400ff);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.left button:hover {
    background: rgb(196, 17, 187);
}


/* banner*/

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.bannerLeft {
    width: 45%;
    height: 600px;
    background-image: url(Ảnh/banner_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
}

.bannerLeft p.textL {
    width: 20%;
    font-size: 4em;
    margin-top: 55%;
    margin-left: 65%;
}

p.textL:hover,
p.view1:hover,
p.textR:hover,
p.view2:hover {
    color: #f1d205e0;
}

.bannerLeft p.view1 {
    margin-left: 65%;
    text-transform: uppercase;
    font-weight: 600;
}

.bannerRight {
    width: 28.4%;
    background-image: url('Ảnh/banner_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerRight p.textR {
    font-size: 4em;
    margin-top: 40%;
    margin-left: 7%
}

.bannerRight p.view2 {
    margin-left: 8%;
    margin-top: 7px;
    text-transform: uppercase;
}

.content {
    width: 1182px;
    display: flex;
    margin: 0 auto 50px;
    justify-content: space-between
}

.content .col {
    width: 23%;
    text-align: center;
}

.content .col div {
    width: 100%;
    overflow: hidden;
}

.content .col img {
    width: 100%;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.5s;
}

.content .col img:hover {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    transition: 0.5s;
}

.col p.name-item {
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.col p.price-item {
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: 700;
    color: #b8ba14;
}

.col p.price-item small {
    font-size: 30px;
}

.col button {
    padding: 10px 40px;
    margin-top: 10px;
    outline: none;
    border: 1px solid gray;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, #00bcd4, #b400ff);
    font-weight: 700;
    border-radius: 40px;
}

.col button:hover {
    background: rgb(196, 17, 187);
}

.banner .banner1 {
    width: 43%;
    height: 600px;
    background-image: url('Ảnh/banner_1.jpg');
    background-repeat: no-repeat;
    margin-right: 20px;
}

.banner .banner2 {
    width: 30%;
    background-image: url('Ảnh/banner_2.jpg');
    background-repeat: no-repeat;
}

.banner1 p.textL {
    width: 20%;
    font-size: 4em;
    margin-top: 15%;
    margin-left: 75%;
}

.banner1 p.view1 {
    margin-left: 75%;
    text-transform: uppercase;
    font-weight: 600;
}

.banner2 p.textR {
    font-size: 4em;
    margin-top: 15%;
    margin-left: 70%;
    color: #f1e211;
}

.banner2 p.view1 {
    margin-left: 70%;
    text-transform: uppercase;
    font-weight: 600;
}

.fix {
    margin-bottom: -60px;
}


/* footer */

.footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 150px;
}

.about .about-text {
    display: flex;
    margin-top: 20px;
}

.about-text p {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.contact {
    margin-left: 20px;
}

.contact .contact-text {
    margin-top: 20px;
}

.contact-text p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
